<div class="container">
    <h3>Welcome to the #HackHarassment Labeler App</h3>
    Instructions:
    <p>
        <ol>
            <li>Click on "Label"" in the navigation bar </li>
            <li>You will see a screen showing two buttons: "Not Harassment" and "Harassment" as well as a text
                comment</li>
            <li>Read the comment and decide how to label the comment.</li>
            <li>Do not over-think the label, if you have any doubts default to "Not Harassment"</li>
            <li>For ease of use, you can utilize the'-' and '=' keys at the end of the number bar atop your keyboard to label.
                The '-' key corresponds to 'Not Harassment', the '=' key correponds to 'Harassment'.
            </li>

        </ol>
    </p>
</div>