<div class="container">
    <!--<div class="col-md-6">-->
        <div >
            <div>
                <div class="jumbotron lim-width-jumbo center-block">
                    <i class="fa fa-quote-left" aria-hidden="true"></i> 
                    {{ label.comment.body}}
                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                </div>
            </div>
            <div >
                <span class="lim-width-btn-span center-block">
                    <span class=" lim-width-btn-box center-block">
                    <button ng-click="label.chooseNotHarass()" type="button" class="btn btn-primary">Not Harassment</button>
                    <button ng-click="label.chooseHarass()" type="button" class="btn btn-danger">Harassment</button>
                    </span>
                </span>
            </div> 
        </div>
    <!--</div>-->
</div>