<h3>Welcome to the #HackHarassment Labeler App</h3>
<h4>Instructions:</h4>
<p>
    <ol>    
        <li>Before starting - please be aware you will be reading comments from a popular online forum platform to find harassing comments. You will be exposed to vulgar language and will likely read things that you find disturbing.</li>
        <li>Upon completion of this introduction, you will be redirected to a page that faciliates the labeling process </li>
        <li>You will see a screen showing two buttons: "Not Harassment" and "Harassment" as well as a text
            comment</li>
        <li>Read the comment and decide how to label the comment.</li>
        <li>If you select 'Not Harassment' you will be prompted to select from one of 7 categories to classify the type of harassment</li>
        <li>For ease of use, you can utilize the'-' and '=' keys at the end of the number bar atop your keyboard to label.
            The '-' key corresponds to 'Not Harassment', the '=' key correponds to 'Harassment'.
        </li>
        <li>There are currently NO key-binds for the categories</li>
        <li>If you need to refer back to this page, please click on 'Instructions' from the dropdown menu to be brought back here</li>
        <li>If you encounter any issues please email the admin at: alexei.a.bastidas@intel.com</li>
    </ol>
</p>