{% extends 'base.html' %}

{% block body_attribs %} ng-app="HHLabelApp" ng-controller="HHLabelController" ng-keypress="main.parseKeys($event)" tabindex="0" {% endblock %}
{% block page_content %}
<div id="labelContainer">
    <div class="col-md-6">
        <div class="page-header">
            <h3>{{current_user.username}}</h3>
            <h4> Comments Labeled : {% raw %}{{main.label_count}}{% endraw %}</h4>
        </div>
        <div>
            <button ng-click="main.chooseNotHarass()" type="button" class="btn btn-primary">Not Harassment</button>
            <button ng-click="main.chooseHarass()" type="button" class="btn btn-danger">Harassment</button> 
            <div>
                <br>
                <h4>Comment:</h4>
                <p> {% raw %} {{ main.comment.body}} {% endraw %}</p>
            </div>
        </div>
    </div>
    <div ng-include="'{{ url_for('static', filename='components/leaderboard/hhleaderboard.html') }}'" ng-controller="HHLeaderboardController"></div>
    <div ng-include="'{{ url_for('static', filename='components/totals_widget/totals.html') }}'" ng-controller="HHTotalsController"></div>
    <!--<div ng-include="'{{ url_for('static', filename='components/fb_login/fb_login.html') }}'" ng-controller="HHFBLoginController"></div>-->
</div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='jslibs/angular/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jslibs/angular-resource/angular-resource.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jslibs/angular-sanitize/angular-sanitize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jslibs/angular-easyfb/angular-easyfb.min.js') }}"></script>
    <script src="{{ url_for('static', filename='components/labelController.js') }}"></script>
    <script src="{{ url_for('static', filename='components/leaderboard/hhleaderboardController.js') }}"></script>
    <script src="{{ url_for('static', filename='components/totals_widget/totalsController.js') }}"></script>
    <!--<script src="{{ url_for('static', filename='components/fb_login/fb_loginController.js') }}"></script-->
{% endblock %}
